body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  width: 100%;
  /* -webkit-overflow-scrolling: touch;  */
}

html {
  /* overflow: hidden; */
  /* */
}

.search {
  background-color: rgb(215, 187, 187);
}

.normal {
  background-color: rgb(255, 255, 255);
}

.worksDetails {
  z-index: 0;
  overflow: scroll;
  color: #fff;
}

.worksDetails::before {
  content: '';
  background: inherit;
  filter: blur(10px);
  position: fixed;
  z-index: -1;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
}

.worksDetailsBody::before {
  content: '';
  background: rgba(0,0,0,0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

* {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
  font-weight: 'normanl';
  table-layout: fixed;
}

.active {
  color: rgb(0, 122, 204);
}

.inactive {
  color: rgb(70, 70, 70);
}

ol {
  margin-left:2em
}

.card {
  display: flex;
  align-items: center;
}

.standalone {
  filter: drop-shadow(0 0 1px #555);
}

.card-margin {
  margin-right: 10px;
}

.standalone-margin {
  margin: 20px 20px 10px 20px;
}

a{
  color: #555
}