.shuffle-text-char {
  animation: 0.5s ease-in-out both myWordEnter; /* none for no effect */
}
 
@keyframes myWordEnter {
  0% {
    opacity: 0;
    transform: translate(0%, 0) scale(1);
  }
 
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

/* .firebaseui-title::first-line {
  font-size: 10px;
}

.firebaseui-title::after {
  content: '電話番号で認証';
  font-size: 35px;
  display: block;
} */



